.container {
  padding: 10rem 2.5rem;
  display: flex;
  justify-content: center;
}

.contact {
  font-size: 5rem;
  font-weight: 700;
  border-bottom: 0.125rem solid;
  border-color: inherit
}

@media (max-width: 768px) {
  .contact {
    font-size: 4rem;
  }
}
@media (max-width: 460px) {
  .contact {
    font-size: 2.75rem;
  }
}
