.container {
  padding: 0 2.5rem 2.5rem 2.5rem;
  margin: 0 auto;
  max-width: 150rem;
  font-family: "Merriweather", serif;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.125rem;
  line-height: 1.5;
}

.contact {
  order: 1;
}

.copyright {
  align-self: flex-end;
  order: 2;
}

.info {
  order: 3;
}

@media (max-width: 1024px) {
  .container {
    padding: 1.25rem;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .contact {
    padding-bottom: 2rem;
  }

  .copyright {
    order: 3;
    align-self: flex-start;
  }

  .info {
    order: 2;
    padding-bottom: 2rem;
  }
}
