.navigation {
  padding: 2.5rem;
  /* position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: 0;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px); */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.title {
  font-size: 2rem;
  font-weight: 600;
}

.link {
  font-size: 1.5rem;
  padding-left: 1.25rem;
  font-family: "Merriweather", serif;
}

@media (max-width: 1024px) {
  .navigation {
    padding: 1.25rem;
  }

  .title {
    font-size: 1.75rem;
  }

  .link {
    font-size: 1.125rem;
  }
}
