.container {
  padding: 5rem 2.5rem 2.5rem 2.5rem;
  max-width: 150rem;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
.content {
  width: 75%;
}

h1 {
  font-size: 6rem;
  line-height: 1.2;
}

@media (max-width: 1024px) {
  .container {
    padding: 5rem 1.25rem 2.5rem 1.25rem;
    max-width: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-start;
  }

  .content {
    width: 100%;
  }

  h1 {
    font-size: 4rem;
  }
}

@media (max-width: 375px) {
  h1 {
    font-size: 2.75rem;
  }
}
