.container {
  padding: 10rem 2.5rem 0;
  max-width: 150rem;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  font-family: "Merriweather", serif;
}

.content {
  display: flex;
  width: 75%;
}

.separator {
  border-top: solid 1px;
  margin-top: 1.125rem;
  margin-right: 4rem;
  flex: 1 1 0;
}

.info {
  font-size: 1.5rem;
  line-height: 1.5;
  flex: 2 1 0;
}

.text {
  font-size: 1.5rem;
  line-height: 1.5;
  flex: 8 1 0;
}

@media (max-width: 1024px) {
  .container {
    padding: 4rem 1.25rem 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .info {
    font-size: 1.5rem;
    line-height: 1.5;
    flex-grow: 1;
    padding-bottom: 4rem;
  }

  .text {
    font-size: 1.5rem;
    line-height: 1.5;
    flex-grow: 1;
    max-width: 100%;
  }

  .separator {
    border-bottom: solid 1px;
    margin: 4rem 0;
    flex-grow: 1;
  }
}
